<!--Footer-->
<footer class="page-footer faurecia-azul text-center text-md-left pt-4 mt-4">


    <!--Social buttons-->
    <div class="text-center mb-3">

        <a href="https://web.facebook.com/FaureciaMX/" target="_blank" class="waves-light">
            <i class="fa fa-facebook"> &nbsp;&nbsp;</i>
        </a>
        <a href="https://twitter.com/Faurecia" target="_blank" class="waves-light">
            <i class="fa fa-twitter"> &nbsp;&nbsp;</i>
        </a>
        <a href="https://www.linkedin.com/company/faurecia/" target="_blank" class="waves-light">
            <i class="fa fa-linkedin"> &nbsp;&nbsp;</i>
        </a>
        <a href="https://www.instagram.com/faureciamx" target="_blank" class="waves-light">
            <i class="fa fa-instagram"> </i>
        </a>

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Faurecia
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
