
<!--If user has not logged in then-->
<div *ngIf="!identity">
	<app-navbar></app-navbar>

	<!--Card-->
	<div class="card card-cascade wider reverse my-4">

	    <!--Card image-->
	    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
	        <img src="assets/img/benefits.png" class="img-fluid">
	        <a>
	            <div class="mask rgba-white-slight"></div>
	        </a>
	    </div>
	    <!--/Card image-->

	    <!--Card content-->
	    <div class="card-body card-body-cascade text-center">
	        <!--Title-->
	        <h4 class="card-title"><strong>Please, log in into your account</strong></h4>
	        <h5 class="indigo-text"><strong>Go to log in section</strong></h5>

	        <p class="card-text">
	        </p>

	        <!--Linkedin-->
	        <a class="icons-sm li-ic"><i class="fa fa-linkedin px-2"> </i></a>
	        <!--Twitter-->
	        <a class="icons-sm tw-ic"><i class="fa fa-twitter px-2"> </i></a>
	        <!--Dribbble-->
	        <a class="icons-sm fb-ic"><i class="fa fa-facebook px-2"> </i></a>

	    </div>
	    <!--/.Card content-->

	</div>
	<!--/.Card-->
</div>
<!-- else if -->



<!-- If user has logged in the  -->
<div *ngIf="identity">
	<div *ngIf="identity.role=='ROLE_ADMIN'">
		<app-navbaradmin></app-navbaradmin>
	</div>
	<div *ngIf="identity.role=='ROLE_USER'">
		<app-navbarlogged></app-navbarlogged>
	</div>

	<!--Card-->
	<div class="card">

	    <!--Card content-->
	    <div class="card-body">
			<!--Card-->
			<div class="card">

				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					    	<!--Card image-->

						    <!--Card content-->
						    <div class="card-body text-center">
									<div>
							        <img src="assets/img/people.png" class="animated zoomIn img-referral" alt="Card image with a tree in a middle of a lake.">
							    </div>
									<br>
						        <!--Title-->
						        <h4 i18n="@@referralsCard1TituloD" class="animated flipInY card-title">Revisar Estatus de Referidos</h4>
						        <!--Text-->
						        <p i18n="@@referralsCard1ContenidoID" class="animated flipInY card-text">Todos tus candidatos y su retroalimentación serán mostrados en esta vista.</p>
						        <button i18n="@@referralsCard1BotonID" [routerLink]="['/see-referrals']" class="animated tada btn faurecia-rosa waves-light" mdbWavesEffect>Ver</button>
						    </div>
						</div>

						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
					    	<!--Card image-->


						    <!--Card content-->
						    <div class="card-body text-center">
									<div>
											<img src="assets/img/referral.jpg" class="animated zoomIn img-referral" alt="Card image with a tree in a middle of a lake.">
									</div>
									<br>
						        <!--Title-->
						        <h4 i18n="@@referralsCard2TituloID" class="animated flipInY card-title">Nueva Referencia</h4>
						        <!--Text-->
						        <p i18n="@@referralsCard2ContenidoID" class="animated flipInY card-text">Si el desempeño de tu candidato es bueno, es tiempo de recomendarlo.</p>
						        <button i18n="@@referralsCard2BotonID" [routerLink]="['/create-referral']" class="animated tada btn faurecia-rosa waves-light" mdbWavesEffect>Crear</button>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<!--/.Card-->
	    </div>

	</div>
	<!--/.Card-->
</div>

<!-- else if -->

<app-footer></app-footer>
