
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto my-5">
        <section class="form-elegant">
          <!--Form without header-->
          <div class="card">
            <div class="card-body mx-4">
              <!--Header-->
              <div class="text-center">
                <h3 class="dark-grey-text mb-5">
                  <strong i18n="@@registerTituloID">Registrarse</strong>
                </h3>
              </div>

              <form #loginForm="ngForm" (ngSubmit)="onSubmitRegister()">
                <div class="md-form">
                  <input type="text" class="form-control" mdbInputDirective #nombre="ngModel" name="nombre" [(ngModel)]="user_register.nombre">
                  <label i18n="@@registerNombreID" for="elegantFormEmailEx">Tu nombre</label>
                </div>

                <div class="md-form">
                  <input type="text" id="elegantFormEmailEx" class="form-control" mdbInputDirective #email="ngModel" name="email" [(ngModel)]="user_register.email">
                  <label i18n="@@registerEmailID" for="elegantFormEmailEx">Tu correo electrónico</label>
                </div>

                <div class="text-center mb-3">
                  <button i18n="@@registerRegisterID" [disabled]="lockButton" type="submit" class="btn faurecia-rosa btn-block btn-rounded z-depth-1a waves-light" mdbWavesEffect>Registrarse</button>
                </div>

              </form>
              <!--Body-->
            </div>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
              <p i18n="@@registerAlreadyMemberID" class="font-small grey-text d-flex justify-content-end">¿Ya eres un miembro?
                <a [routerLink]="['/login']" class="blue-text ml-1"> Ir a Iniciar sesión</a>
              </p>
            </div>

          </div>
          <!--/Form without header-->

        </section>

      </div>

    </div>
</div>

<!--Footer-->
    <app-footer></app-footer>
<!--/.Footer-->
