
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto my-forgot">
        <section class="form-elegant">
          <!--Form without header-->
          <div class="card">
            <div class="card-body mx-4">
              <!--Header-->
              <div class="text-center">
                <h3 class="dark-grey-text mb-5">
                  <strong i18n="@@resetPasswordTituloID">Por favor, llena el formulario</strong>
                </h3>
              </div>

              <form #loginForm="ngForm" (ngSubmit)="onSubmitReset()">
                <div class="md-form">
                  <input type="email" class="form-control" mdbInputDirective #correo="ngModel" name="correo" [(ngModel)]="user_register.nombre">
                  <label i18n="@@resetPasswordEmailID" for="elegantFormEmailEx">Correo Electrónico</label>
                </div>

                <div class="md-form">
                  <input type="password" class="form-control" mdbInputDirective #email="ngModel" name="email" [(ngModel)]="user_register.email">
                  <label i18n="@@resetPasswordNuevoPasswordID" for="elegantFormEmailEx">Nueva Contraseña</label>
                </div>

                <div class="md-form">
                  <input type="password" class="form-control" mdbInputDirective #password="ngModel" name="password" [(ngModel)]="user_register.password">
                  <label i18n="@@resetPasswordViejoPasswordID" for="elegantFormEmailEx">Confirmar Contraseña</label>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="text-right">
                      <h6 class="dark-grey-text" style="padding-top: 5px;">
                        <strong i18n="@@resetPasswordSoyReclutadorID">Soy un Reclutador</strong>
                      </h6>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="text-left">
                      <label class="label">
                        <input  class="label__checkbox" type="checkbox" (click)="isRecruiter($event)"/>
                        <span class="label__text">
                          <span class="label__check">
                            <i class="fa fa-check icon"></i>
                          </span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="text-center mb-3">
                  <button i18n="@@resetPasswordActualizarID" type="submit" class="btn faurecia-rosa btn-block btn-rounded z-depth-1a waves-light" mdbWavesEffect>Actualizar</button>
                </div>

              </form>
              <!--Body-->
            </div>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
              <p class="font-small grey-text d-flex justify-content-end">
                <a i18n="@@resetPasswordGoLoginID" [routerLink]="['/login']" class="blue-text ml-1"> Ir a Login</a>
              </p>
            </div>

          </div>
          <!--/Form without header-->

        </section>

      </div>

    </div>
</div>

<!--Footer-->
    <app-footer></app-footer>
<!--/.Footer-->
